<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link href="/styles/home.css" rel="stylesheet" type="text/css" >

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/signup.js"></script>

  <link href="/styles/style.css" rel="stylesheet" type="text/css" >
  <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>
<%- include('./partials/_header') %>
<%- include('./partials/_uploadResource') %>
<body>
    <div class="search">
      <form class="search-bar" method="POST" action="/search">
        <input name="search" class="search-input" type="text">
        <i class="fa fa-search"></i>
      </form>
    </div>
<section class="resource-container">
  <% for (let i = 0; i < resource.data.length; i++) { %>
    <div class="hvr-border-fade">
    <a href="/resources/<%=resource.data[i].id%>">
    <div class="resource-box">
         <span class="resource-title"><%= resource.data[i].title %></span>
        <img class="resource-img" src="<%= resource.data[i].img_url %>">
         <% if (resource.userId) { %>
         <form id="likes-button" class="like-button" method="POST" action="/like/<%=resource.data[i].id%>?_method=PUT">
          <button class="heart" type='submit'> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/></svg> </button>
        </form>
         <% } else { %>
        <form class="like-button" method="GET" action="/login">
          <button class="heart" type='submit'> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/></svg> </button>
        </form>
        <% } %>
    </div>
  </div>
  </a>
  <% } %>
</section>
</body>

</html>
